In [1]:
import numpy as np
import pandas as pd

job=pd.read_excel('CompiledAnalyticsData_excel.xlsx')
job.head(3)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,ID,Job Class,Job Title,Salary Estimate,Job Description,Rating,Company Name,...,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Clean Job Title,Clean Job Description,skills
0,0,0,0,0,Data Analyst,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,...,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,1,DATA ANALYST CENTER IMMIGRATION JUSTICE CIJ,taking party call record set impede real eager...,"['sql', 'aws', 'python', 'r', 'analysis']"
1,1,1,1,1,Data Analyst,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,...,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,QUALITY DATA ANALYST,train trend PLSQL topic dashborads computersci...,"['computerscience', 'master', 'analytics', 'he..."
2,2,2,2,2,Data Analyst,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,...,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,SENIOR DATA ANALYST INSIGHTS GAME TEAM CUSTOME...,dset dublin iconic dashborads master acting li...,"['master', 'sql', 'engineering', 'phd', 'table..."

In [2]:
job['JobClass']=job['Job Class']
job['JobTitle']=job['Clean Job Title']

In [3]:
jobgroup = job.groupby("JobClass")
len(jobgroup)
jobgroup.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,ID,Job Class,Job Title,Salary Estimate,Job Description,Rating,Company Name,...,Industry,Sector,Revenue,Competitors,Easy Apply,Clean Job Title,Clean Job Description,skills,JobClass,JobTitle
0,0,0,0,0,Data Analyst,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,...,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,1,DATA ANALYST CENTER IMMIGRATION JUSTICE CIJ,taking party call record set impede real eager...,"['sql', 'aws', 'python', 'r', 'analysis']",Data Analyst,DATA ANALYST CENTER IMMIGRATION JUSTICE CIJ
1,1,1,1,1,Data Analyst,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,QUALITY DATA ANALYST,train trend PLSQL topic dashborads computersci...,"['computerscience', 'master', 'analytics', 'he...",Data Analyst,QUALITY DATA ANALYST
2,2,2,2,2,Data Analyst,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,...,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,SENIOR DATA ANALYST INSIGHTS GAME TEAM CUSTOME...,dset dublin iconic dashborads master acting li...,"['master', 'sql', 'engineering', 'phd', 'table...",Data Analyst,SENIOR DATA ANALYST INSIGHTS GAME TEAM CUSTOME...
3,3,3,3,3,Data Analyst,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,...,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,DATA ANALYST,record giving hobby plenty sniff like enjoy bu...,"['sql', 'engineering', 'tableau', 'etl', 'bach...",Data Analyst,DATA ANALYST
4,4,4,4,4,Data Analyst,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,...,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,1,REPORTING DATA ANALYST,fan sport set app foxbet really medium real co...,"['analytics', 'excel', 'sql', 'analysis', 'eng...",Data Analyst,REPORTING DATA ANALYST
2252,2252,2252,2252,2252,Data Engineer,Data Engineer,$80K-$150K (Glassdoor est.),Company Description\nSagence is a management a...,4.5,Sagence\n4.5,...,Consulting,Business Services,$10 to $25 million (USD),"WCI Consulting, PwC",-1,DATA ENGINEER,word enable going posse firm week mongodb toad...,"['mongodb', 'oracle', 'master', 'analytics', '...",Data Engineer,DATA ENGINEER
2253,2253,2253,2253,2253,Data Engineer,Senior Data Engineer (Healthcare Domain experi...,$80K-$150K (Glassdoor est.),"Key Responsibilities\n\n- Architect, build, an...",3.4,Enterprise Integration\n3.4,...,IT Services,Information Technology,$25 to $50 million (USD),-1,-1,SENIOR DATA ENGINEER HEALTHCARE DOMAIN EXPERIENCE,gym vision web rest set trend floor room apis ...,"['web', 'hadoop', 'analytics', 'tableau', 'jav...",Data Engineer,SENIOR DATA ENGINEER HEALTHCARE DOMAIN EXPERIENCE
2254,2254,2254,2254,2254,Data Engineer,Data Engineers,$80K-$150K (Glassdoor est.),Overview\n\nJob description\n\nPosition Overvi...,5.0,Maestro Technologies\n5.0,...,IT Services,Information Technology,$5 to $10 million (USD),-1,-1,DATA ENGINEERS,table record sector big coach hadoop computers...,"['hadoop', 'computerscience', 'master', 'analy...",Data Engineer,DATA ENGINEERS
2255,2255,2255,2255,2255,Data Engineer,Client Trade Support Engineer,$80K-$150K (Glassdoor est.),About the Position\n\n\nThis position will sup...,4.8,Jane Street\n4.8,...,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1,CLIENT TRADE SUPPORT ENGINEER,arise side onto quick query street jane react...,[],Data Engineer,CLIENT TRADE SUPPORT ENGINEER
2256,2256,2256,2256,2256,Data Engineer,Data Engineer,$80K-$150K (Glassdoor est.),Data Engineer\n\nJob Details\nLevel\nExperienc...,3.7,GNY Insurance Companies\n3.7,...,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",1,DATA ENGINEER,word set computerscience vba master mutual yor...,"['computerscience', 'master', 'excel', 'sql', ...",Data Engineer,DATA ENGINEER
4780,4780,4780,4780,4780,Data Scientist,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,...,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,SENIOR DATA SCIENTIST,dset book big real dashborads save paid sas un...,"['sas', 'sql', 'businessintelligence', 'engine...",Data Scientist,SENIOR DATA SCIENTIST
4781,4781,4781,4781,4781,Data Scientist,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,...,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,DATA SCIENTIST PRODUCT GAME,worry artificialintelligence record book posse...,"['artificialintelligence', 'analytics', 'sql',...",Data Scientist,DATA SCIENTIST PRODUCT GAME
4782,4782,4782,4782,4782,Data Scientist,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,...,-1,-1,Unknown / Non-Applicable,-1,1,DATA SCIENCE MANAGER,org chart rather decode hiring demand vision w...,"['web', 'analytics', 'mathematics', 'python', ...",Data Scientist,DATA SCIENCE MANAGER
4783,4783,4783,4783,4783,Data Scientist,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,...,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,DATA ANALYST,order set trend query domain jersey root four ...,"['excel', 'sas', 'sql', 'businessintelligence'...",Data Scientist,DATA ANALYST
4784,4784,4784,4784,4784,Data Scientist,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,DIRECTOR DATA SCIENCE,cannes chart sport artificialintelligence jul ...,"['artificialintelligence', 'tensorflow', 'anal...",Data Scientist,DIRECTOR DATA SCIENCE
8689,8689,8689,8689,8689,Business Analyst,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\n\n\nAt Memorial Sloan Ketter...,3.9,Memorial Sloan-Kettering\n3.9,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1,BUSINESS ANALYST CLINICAL LOGISTICS PLATFORM,call record enable named like businessanalyst2...,"['bachelor', 'computerscience', 'analysis', 'm...",Business Analyst,BUSINESS ANALYST CLINICAL LOGISTICS PLATFORM
8690,8690,8690,8690,8690,Business Analyst,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\n3.8,...,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,1,BUSINESS ANALYST,layout useful loader map conga ilevel owns fir...,"['master', 'analytics', 'excel', 'analysis', '...",Business Analyst,BUSINESS ANALYST
8691,8691,8691,8691,8691,Business Analyst,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\n3.6,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1,DATA ANALYST,taking party record adopt varied follow analyt...,"['analytics', 'classification', 'sql', 'analys...",Business Analyst,DATA ANALYST
8692,8692,8692,8692,8692,Business Analyst,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\nThe Information Secur...,3.6,BD\n3.6,...,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1,INFORMATION SECURITY ANALYST INCIDENT RESPONSE,alert lake track event nj report lt legal shif...,[],Business Analyst,INFORMATION SECURITY ANALYST INCIDENT RESPONSE
8693,8693,8693,8693,8693,Business Analyst,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\n3.4,...,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",1,ANALYST FP GLOBAL REVENUE,side margin set dashborads fully growth target...,"['businessintelligence', 'tableau', 'powerbi',...",Business Analyst,ANALYST FP GLOBAL REVENUE

In [4]:
jobgroup.describe()

                 Unnamed: 0                                                  \
                      count     mean          std     min      25%      50%
JobClass
Business Analyst     3692.0  10534.5  1065.932925  8689.0  9611.75  10534.5
Data Analyst         2252.0   1125.5   650.240725     0.0   562.75   1125.5
Data Engineer        2528.0   3515.5   729.915064  2252.0  2883.75   3515.5
Data Scientist       3909.0   6734.0  1128.575429  4780.0  5757.00   6734.0

                                    Unnamed: 0.1           ... Founded  \
                       75%      max        count     mean  ...     75%
JobClass                                                   ...
Business Analyst  11457.25  12380.0       3692.0  10534.5  ...  2002.0
Data Analyst       1688.25   2251.0       2252.0   1125.5  ...  2002.0
Data Engineer      4147.25   4779.0       2528.0   3515.5  ...  2003.0
Data Scientist     7711.00   8688.0       3909.0   6734.0  ...  2002.0

                         Easy Apply                                          \
                     max      count      mean       std  min  25%  50%  75%
JobClass
Business Analyst  2020.0     3692.0 -0.927952  0.372749 -1.0 -1.0 -1.0 -1.0
Data Analyst      2019.0     2252.0 -0.928952  0.370282 -1.0 -1.0 -1.0 -1.0
Data Engineer     2020.0     2528.0 -0.884494  0.466644 -1.0 -1.0 -1.0 -1.0
Data Scientist    2020.0     3909.0 -0.916091  0.401022 -1.0 -1.0 -1.0 -1.0


                  max
JobClass
Business Analyst  1.0
Data Analyst      1.0
Data Engineer     1.0
Data Scientist    1.0

[4 rows x 56 columns]

In [5]:
print(job.shape)

(12381, 25)

In [6]:

#split the data into training and testing

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(job.JobTitle, job.JobClass, test_size=0.33, random_state=12)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

In [8]:
#Build training pipeline using  Naïve Bayes Model

from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

text_clf1 = Pipeline([('vect', CountVectorizer()),   #Vectorizer
                     ('tfidf', TfidfTransformer()), #DTM with TFIDF
                      ('clf', MultinomialNB()),     #ML Model
                    ])

clf1=text_clf1.fit(X_train,y_train )

In [9]:
#Evaluate the model

import numpy as np
from sklearn import metrics

predicted1 = text_clf1.predict(X_test)

print(metrics.confusion_matrix(y_test, predicted1))

[[1058  102    9   54]
 [ 185  390   12  139]
 [  13    4  660  164]
 [ 107  165  210  814]]

In [10]:
print("NB:",np.mean(predicted1 == y_test) )

NB: 0.7151248164464024

In [11]:
print(metrics.classification_report(y_test, predicted1))

                  precision    recall  f1-score   support

Business Analyst       0.78      0.87      0.82      1223
    Data Analyst       0.59      0.54      0.56       726
   Data Engineer       0.74      0.78      0.76       841
  Data Scientist       0.70      0.63      0.66      1296

        accuracy                           0.72      4086
       macro avg       0.70      0.70      0.70      4086
    weighted avg       0.71      0.72      0.71      4086

In [12]:
#Build training pipeline using  Decision Tree Model


from sklearn import tree
text_clf2 = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                      ('clf', tree.DecisionTreeClassifier())
                    ])
clf2 = text_clf2.fit(X_train, y_train) 

predicted2 = clf2.predict(X_test)

In [13]:
print(metrics.confusion_matrix(y_test, predicted2))

[[1079  119    2   23]
 [  41  623    1   61]
 [   5    5  742   89]
 [  42  244  251  759]]

In [14]:
print("DT:",np.mean(predicted2 == y_test) )

DT: 0.7838962310327949

In [15]:
print(metrics.classification_report(y_test, predicted2))

                  precision    recall  f1-score   support

Business Analyst       0.92      0.88      0.90      1223
    Data Analyst       0.63      0.86      0.73       726
   Data Engineer       0.74      0.88      0.81       841
  Data Scientist       0.81      0.59      0.68      1296

        accuracy                           0.78      4086
       macro avg       0.78      0.80      0.78      4086
    weighted avg       0.80      0.78      0.78      4086

In [19]:
#Build training pipeline using  SVM Model


from sklearn import svm
from sklearn.svm import SVC

from sklearn.linear_model import SGDClassifier
text_clf3 = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer(use_idf=True)),
                      ('clf', svm.LinearSVC(C=1.0))
                    ])
text_clf3.fit(X_train, y_train) 
    
predicted3 = text_clf3.predict(X_test)

In [20]:
print(metrics.confusion_matrix(y_test, predicted3))

[[1067  120   10   26]
 [  57  544    9  116]
 [   5   11  732   93]
 [  50  239  242  765]]

In [21]:
print(np.mean(predicted3 == y_test) )

0.7606461086637298

In [22]:
print(metrics.classification_report(y_test, predicted3))

                  precision    recall  f1-score   support

Business Analyst       0.91      0.87      0.89      1223
    Data Analyst       0.60      0.75      0.66       726
   Data Engineer       0.74      0.87      0.80       841
  Data Scientist       0.77      0.59      0.67      1296

        accuracy                           0.76      4086
       macro avg       0.75      0.77      0.75      4086
    weighted avg       0.77      0.76      0.76      4086

In [20]:
test=pd.read_excel('V3.0 Project OA Data_excel_Testingdata.xlsx')
test.head(3)
test1=test['Clean Job Title']
test1=list(test1)
test1

['ARCHITECT DATA ANALYSIS OF RESEARCH DOMAIN',
 'ASSISTANT MANAGER DATA SCIENTIST',
 'LEAD DATA SCIENTIST']

In [21]:
#Prediction on new documents
for i in test1:
    docs_new = [i]
    predicted = text_clf2.predict(docs_new)
    print(predicted)

['Data Scientist']
['Data Scientist']
['Data Scientist']

In [12]:
#from sklearn.metrics import roc_curve
#from sklearn.metrics import roc_auc_score
#from matplotlib import pyplot

#a = np.array(tuple(y_test))
#a.ndim

#np.reshape(lr_probs,6)

In [14]:

# predict probabilities
#lr_probs = clf2.predict_proba(X_test)
# keep probabilities for the positive outcome only
#lr_probs = lr_probs[:, 1]
# calculate scores
#y_test.ndim
#lr_auc = roc_auc_score(y_test, lr_probs,multi_class="ovo")
# summarize scores

AxisError: axis 1 is out of bounds for array of dimension 1

In [ ]:
#roc = {label: [] for label in multi_class_series.unique()}
#for label in multi_class_series.unique():
    #selected_classifier.fit(train_set_dataframe, train_class == label)
    #predictions_proba = selected_classifier.predict_proba(test_set_dataframe)
    #roc[label] += roc_auc_score(test_class, predictions_proba[:,1])

#print(' ROC AUC=%.3f' % (lr_auc))
# calculate roc curves

#lr_fpr, lr_tpr, _ = roc_curve(testy, lr_probs)
# plot the roc curve for the model

#pyplot.plot(lr_fpr, lr_tpr, marker='.', label='Classification')
# axis labels
#pyplot.xlabel('False Positive Rate')
#pyplot.ylabel('True Positive Rate')
# show the legend
#pyplot.legend()
# show the plot
#pyplot.show()